mat-card{
  height: 80vh;
  border-radius: 0px;
  padding-left: 0;
}




.mat-tab-body-content { overflow: hidden!important}


input, select{
  position: relative;
  left: 10px;
  width: 200px;
  min-width: 20%;
  margin-right: 60%;
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: 10px;
}

input:disabled,select:disabled{
  background-color: white;
}
div.block{
  padding-top: 10px;
  border-radius: 0px 50px 50px 0px;
  height: 50px;
  width: 100%;
  background-color: #303030 ;
}

div.block h1{
 position: relative;
 left: 10px;
}

#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}



