<div>
  <div class="left-container">
    <mat-card>
      <div class="content">
       <div class="header">Heute</div>
        <hr>
        {{now}}
      </div>
    </mat-card>
    <mat-card>
      <div class="content">
        <div class="header">Aufträge</div>
        <hr>
        Placeholder Text
       </div>
    </mat-card>
    <mat-card>
      <div class="content">
        <div class="header">Umsatz</div>
        <hr>
        Placeholder Text
       </div>
    </mat-card>
    <mat-card>
      <div class="content">
        <div class="header">Rechnugen</div>
        <hr>
        Placeholder Text
       </div>
    </mat-card>
  <div>
  <div class="right-container">
    <mat-card class="big">
      <div class="header">Kunden</div>
      <hr>
    </mat-card>
  </div>

</div>
