<div id="container" class="blog-pager">
    <div id="float">
      <mat-card id=settings>
      <button mat-button matRipple (click)="today()">Heute</button>
      <button mat-button (click)="order()">Aufträge</button>
      <button mat-button (click)="sale()">Umsatz</button>
      <button mat-button (click)="bill()">Rechnugen</button>
      <button mat-button (click)="customer()">Kunden</button>
       </mat-card>
    </div>
    <div id="float-big">
      <mat-card id=big>
        <!--TODAY-->
        <div *ngIf="type == types.today">
        <h1>Heute ist {{now}}</h1>

          <hr>
          <h2>Termine</h2>
          <mat-card id="panel">
            Momentan gibt es keine Termine
            <mat-icon matTooltipPosition="right" matTooltip="Klicken Sie um einen neuen Termin hinzuzufügen" class="cursor" id=right>add</mat-icon>
          </mat-card>
          
          <h2>Notizen</h2>
          <mat-card id=panel>
                <textarea class="input" matInput placeholder="Klicken um Notiz hinzuzufügen."></textarea>
          </mat-card>


         </div>
        <!--Order-->
        <div *ngIf="type == types.order">
          <h1>Aufträge</h1>
           <hr>
           <mat-card id="panel">
            Momentan gibt es keine Aufträge
            <mat-icon matTooltipPosition="right" matTooltip="Klicken Sie um einen neuen Auftrag hinzuzufügen" class="cursor" id=right>add</mat-icon>
          </mat-card>
           </div>
          <!--Sale-->
        <div *ngIf="type == types.sale">
          Umsatz
           <hr>
           {{now}}
           </div>
        <!--Bill-->
        <div *ngIf="type == types.bill">
          Rechnungen
           <hr>
           {{now}}
           </div>
        <!--Customer-->
        <div *ngIf="type == types.customer">
          Kunden
           <hr>
           {{now}}
           </div>
       </mat-card>
    </div>
</div>
