<mat-sidenav-container class="example-container" ngIF="isMenuOpen">
    <mat-sidenav-content>
        <!--Dashboard-->
        <p class="button-container" routerLink="dashboard" (click)="openDashboard()">
            <mat-icon>dashboard</mat-icon>
            <button mat-button>Dashboard</button>
        </p>
        <!--Sales-->
        <p class="button-container" routerLink="sales" (click)="openSales()">
          <mat-icon>account_box</mat-icon>
          <button mat-button>Nutzer</button>
        </p>
        <p class="button-container" routerLink="sales" (click)="openSales()">
            <mat-icon>shopping_cart</mat-icon>
            <button mat-button>Verkauf</button>
        </p>
        <p class="button-container" routerLink="sales" (click)="openSales()">
          <mat-icon>book_open</mat-icon>
          <button mat-button>Verwaltung</button>
      </p>




    </mat-sidenav-content>
</mat-sidenav-container>
