.example-container {
    height: 87vh;
    float: left;
    width: 15vw;
    overflow: hidden;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}



button {
    text-align: left;
    margin-left: 1.5vw;
}

.mat-icon {
    position: absolute;
    float: left;
    margin-top: 1vh;
}

div {
    all: unset;
    margin: auto;
    width: 100%;
    padding: 10px;
}

div[_ngcontent-lgl-c156] {
    padding: 0px;
}

div {
    padding-left: 5%;
    margin: 0px
}

p:hover {
    background-color: black;
}

p.button-container {
    width: 100%;
    padding-left: 1vw;
    margin-bottom: 0px;
}

.mat-typography p {
    margin: 0px;
}

.mat-drawer-content {
    overflow: hidden;
}

#child {
    margin: 0px;
    padding-left: 32px;
}
