<div id="content">
    <mat-card>

        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
            <!--NR-->
            <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef>Nr.</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.number}}</mat-cell>
            </ng-container>
            <!--DATE-->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Datum</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.date.toString().substring(0,10)}}</mat-cell>
            </ng-container>
            <!--CUSTOMER NR-->
            <ng-container matColumnDef="cId">
                <mat-header-cell *matHeaderCellDef>Kunden Nr.</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.customerId}}</mat-cell>
            </ng-container>
            <!--OFFER NAME-->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Angebots Name.</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.name}}</mat-cell>
            </ng-container>
            <!--PLZ-->
            <ng-container matColumnDef="plz">
                <mat-header-cell *matHeaderCellDef>Postleitzahl</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.plz}}</mat-cell>
            </ng-container>
            <!--TOWN-->
            <ng-container matColumnDef="town">
                <mat-header-cell *matHeaderCellDef>Ort</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.town}}</mat-cell>
            </ng-container>
            <!--STREET-->
            <ng-container matColumnDef="street">
                <mat-header-cell *matHeaderCellDef>Straße</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.street}}</mat-cell>
            </ng-container>
            <!--BRUTTO AMOUNT-->
            <ng-container matColumnDef="brutto">
                <mat-header-cell *matHeaderCellDef>Bruttobetrag</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.bruttoValue}}</mat-cell>
            </ng-container>
            <!--STATUS-->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let offer">{{offer.offer.status}}</mat-cell>
            </ng-container>
            <!--OFFER TRANSFORMED-->
            <ng-container id="smallGap" matColumnDef="transform">
                <mat-header-cell *matHeaderCellDef>Ableitungen</mat-header-cell>
                <mat-cell *matCellDef="let offer">
                    <div id=small matTooltipPosition="above"  matTooltip="Angebot wurde erstellt" mat-menu-item (click)="changeOfferColor(offer)" [style.background-color]="offer.offer.stages.offer ? 'Green':'Red'"></div>
                    <div id="small" matTooltipPosition="above" matTooltip="{{'Angebot wurde '+(offer.offer.stages.order ? 'in' : 'nicht in') +' Bestätigung verwandelt'}}" mat-menu-item (click)="changeOrderColor(offer)" [style.background-color]="offer.offer.stages.order ? 'Green':'Red'"></div>
                    <div id="small" matTooltipPosition="above" matTooltip="{{'Angebot wurde '+(offer.offer.stages.bill ? 'in' : 'nicht in') +' Rechnung verwandelt'}}" mat-menu-item (click)="changeBillColor(offer)" [style.background-color]="offer.offer.stages.bill ? 'Green':'Red'"></div>
                    <div id="small" matTooltipPosition="above" matTooltip="{{'Angebot  '+(offer.offer.stages.finished ? 'ist' : 'ist nicht') +' abgeschlossen'}}" mat-menu-item (click)="changeFinishedColor(offer)" [style.background-color]="offer.offer.stages.finished ? 'Green':'Red'"></div>
                  </mat-cell>
            </ng-container>
            <!--ORDER TRANSFORMED-->
            <!--BILL TRANSFORMED-->
            <!--FINISHED TRANSFORMED-->


            <ng-container  matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div [matMenuTriggerFor]="menu">
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="showOffer(row)">Ansehen</button>
                        <button mat-menu-item (click)="updateOffer(row)">Bearbeiten</button>
                        <button mat-menu-item (click)="deleteOffer(row)">Löschen</button>
                        <button mat-menu-item (click)="downloadPdf(row)">Download</button>
                        <button mat-menu-item (click)="transform(row)">Transformieren</button>
                    </mat-menu>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <button id="addButton" (click)="addOffer()">
            <mat-icon>
                add
            </mat-icon>
          </button>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="goToPage($event)">

        </mat-paginator>

    </mat-card>
</div>
