mat-card{
  height: 80vh;
  border-radius: 0px;
  overflow-y: auto;
}

input, select{
  position: relative;
  left: 10px;
  width: 20%;
  margin: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

input#contact-person{
  width: 10vw;
  min-width: 100px;
  margin: 0px;
  border-radius: 0;
  margin-top: 1vh;
}
.mat-button-toggle{
  height: fit-content;
  margin-bottom: 10px;
}


input:disabled,select:disabled{
  background-color: white;
}
div.block{
  display: block;
  padding-top: 10px;
  border-radius: 0px 50px 50px 0px;
  height: 50px;
  width: 100%;
  background-color: #303030 ;
}

div.block h1{
  margin: 0;
  display: inline-block;
  margin-right: 1vw;
}
#line{
  display: inline;
}

button#id {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}



#button-container{
  width: 100%;
  padding-left: 1vw;
  margin-bottom: 0px;
}

#row{
  float: left;
  position: absolute;
  left: 15vw;
}


