<mat-card>
  <form>
    <div class="block">
      <h1>Firmen Daten</h1>
    </div>
    <input type="text" [disabled]="locked ? 'disabled':null" [(ngModel)]="companyCustomers.id" name="id" placeholder="Firmen Nummber">
    <input type="text" [disabled]="locked ? 'disabled':null" [(ngModel)]="companyCustomers.name" name="name" placeholder="Firmenname">
    <input type="text" [disabled]="locked ? 'disabled':null" [(ngModel)]="companyCustomers.companyLocation" name="location" placeholder="Firmensitz">

    <div class="block">
      <h1>Liefer Daten</h1>
      <mat-button-toggle (click)="addShipping()"  *ngIf="!showMode">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>
    </div>
    <input *ngFor="let shippingAdress of companyCustomers.shippingAdress"  type="text" [disabled]="locked ? 'disabled':null" value={{shippingAdress}}  name="phone" placeholder="Lieferadresse ">

    <div class="block">
      <h1>Kontakt Personen</h1>
      <mat-button-toggle (click)="addContact()"  *ngIf="!showMode">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>
<br>

    </div>
    <div id="contact-person" *ngFor="let person of companyCustomers.contactPersons" >
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="fname"  value={{person.fName}} placeholder="Vorname">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="lname"  value={{person.lName}} placeholder="Nachname">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="rank"  value={{person.companyRank}} placeholder="Nachname">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="adress" value={{person.adress}} placeholder="Adresse">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="phone"  value={{person.phoneNumber}} placeholder="Tel.">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="email"  value={{person.email}} placeholder="Email">
      <input type="text" id="contact-person" [disabled]="locked ? 'disabled':null" name="gender" value={{person.gender}} placeholder="Geschlecht">
    </div>




    <input (click)="doCustomer()" type="submit" value={{msg}}>
  </form>
</mat-card>
