<mat-card>
  <form>
    <mat-tab-group>
      <!---Firma-->
      <mat-tab label="Firma">
        <div class="block">
          <h1>Firmen Daten</h1>
        </div>
        <input type="text" disabled="disabled" [(ngModel)]="companyCustomer.id" name="id" placeholder="Firmen Nummber">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.name" name="name" placeholder="Firmenname">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.uid" name="uid" placeholder="UID">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.companyLocation.town" name="town"
          placeholder="Ort">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.companyLocation.plz" name="plz"
          placeholder="Postleitzahl">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.companyLocation.street" name="street"
          placeholder="Straße">
        <input type="text" [readonly]="locked" [(ngModel)]="companyCustomer.companyLocation.country" name="country"
          placeholder="Land">

      </mat-tab>
      <!---Firma-->
      <mat-tab label="Firma">

        <div class="block">
          <h1>Liefer Daten</h1>
        </div>
        <mat-button-toggle (click)="addShipping()" *ngIf="!showMode">
          <mat-icon>add</mat-icon>
        </mat-button-toggle><br>

        <!--This input down here took me 3 hours to set up dont touch it-->
        <input *ngFor="let shippingAdress of companyCustomer.shippingAdress; let i = index;trackBy:trackBy" type="text"
          [(ngModel)]="shippingAdress.adress" [readonly]="locked" name={{100+i}} placeholder="Lieferadresse ">
      </mat-tab>

      <mat-tab label="Kontakt">
        <div class="block">
          <h1>Kontakt Personen</h1>
        </div>
        <mat-button-toggle (click)="addContact()" *ngIf="!showMode">
          <mat-icon>add</mat-icon>
        </mat-button-toggle><br>
        <div id="contact-person" *ngFor="let person of companyCustomer.contactPersons let i = index;">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].fName" id="contact-person" [readonly]="locked"
            name={{i*8+7}} value={{person.fName}} placeholder="Vorname">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].lName" id="contact-person" [readonly]="locked"
            name={{i*8+5}} value={{person.lName}} placeholder="Nachname">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].companyRank" id="contact-person"
            [readonly]="locked" name={{i*8+4}} value={{person.companyRank}} placeholder="Job Beschreibung">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].adress" id="contact-person" [readonly]="locked"
            name={{i*8+3}} value={{person.adress}} placeholder="Adresse">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].phoneNumber" id="contact-person"
            [readonly]="locked" name={{i*8+2}} value={{person.phoneNumber}} placeholder="Tel.">
          <input type="text" [(ngModel)]="companyCustomer.contactPersons[i].email" id="contact-person" [readonly]="locked"
            name={{i*8+1}} value={{person.email}} placeholder="Email">
          <!--Todo make the gender input a select box-->
          <input type="text" id="contact-person" [readonly]="locked" name={{i*8}} value={{person.gender}}
            placeholder="Geschlecht">
          <mat-button-toggle (click)="deleteContact(i)" *ngIf="!showMode">
            <mat-icon>delete</mat-icon>
          </mat-button-toggle>
        </div>
      </mat-tab>


    </mat-tab-group>








    <input (click)="doCustomer()" type="submit" value={{msg}}>
  </form>
</mat-card>
