mat-button-toggle{
  max-width: fit-content;
  max-height: fit-content;
}

#transfrom-preview{
  height: 100%;
  width: 100%;
  background-color: cadetblue;
}

#currentPdf{
  min-height: 80%;
  width: 100%;
}

#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  height: 100%;
  padding: 10px;
}
#container > div#iframe {
  width: 37.5%;
  height: 100%;
}

#arrow{
  color: red;
  font-size: 150pt;
  text-align: center;
  vertical-align: center;
  height: 100%;
}

mat-button-toggle{
  width: 33%;
}

