
<h1>Transformieren von {{currentTypeString}} {{data.offer.offer.number}}</h1>
<div id="transfrom-group">
  <mat-button-toggle>Bestätigung</mat-button-toggle>
  <mat-button-toggle>Rechnung</mat-button-toggle>
  <mat-button-toggle>Lieferschein</mat-button-toggle>
</div>
<hr>


<div class="container">
    <div id=left class="row">
      <iframe [(ngModel)]="currentSrc" id='currentPdf' > </iframe>
    </div>
    <div class="row" id="mid">
      <div id="button-container">
        <button id="transform-button">
          Transformieren
        </button>
      </div>
    </div>
    <div id=right class="row">
      <iframe [(ngModel)]="currentSrc" id='currentPdf' > </iframe>
    </div>
</div>
<hr>
