
<h1>Transformieren von {{data.offer.offer.number}}</h1>
<div id="transfrom-group">
  <mat-button-toggle>Bestätigung</mat-button-toggle>
  <mat-button-toggle>Rechnung</mat-button-toggle>
  <mat-button-toggle>Lieferschein</mat-button-toggle>
</div>
<hr>



<div id="container">
  <div id="iframe">
    <iframe [(ngModel)]="currentSrc" id='currentPdf' > </iframe>
  </div>
  <mat-button-toggle>→</mat-button-toggle>
  <div id="iframe">
    <iframe [(ngModel)]="currentSrc" id='currentPdf' > </iframe>
  </div>
</div>
