
<mat-toolbar color="primary">
  <p class="mat-elevation-z5 icon button-container" routerLink="dashboard" (click)="backToHome()" >
    <mat-icon>home</mat-icon>
    Bookless
  </p>


  <span class="spacer"></span>
  <button routerLink="profile/user" mat-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
    <img [src]="image" matBadge="1" matBadgeSize="large" alt="Profil">
  </button>
  <button *ngIf=user.premissions.settings.read mat-button class="-icon" aria-label="Example icon-button with share icon">
   <mat-icon routerLink="settings/dashboard">settings</mat-icon>
 </button>
 </mat-toolbar>
<!--https://material.angular.io/components/toolbar/overview--->
