.spacer {
    flex: 1 1 auto;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 0px;
    min-width: 120px;
  }  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin-bottom: 0px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .mat-toolbar{
    height: 8vh;
  }

  img {
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
  }

span{
  margin-left: 10px;
}