.mat-table {
  max-height: 71vh;
  height: 71vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.mat-cell,.mat-header-cell{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#big{
  flex: 0 0 200px !important;
}

table{
  width: 80vw;

  position: center;



}

button{
  width: 10px;
}

#cButton{
  color: lightgray;
  width: fit-content;
}



#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}
