.mat-table {
  max-height: 71vh;
  height: 71vh;
  overflow-y: auto;
  overflow-x: auto;

}

.mat-card{
  height: 100%;
  min-height: 100%;
  border-radius: 0px;
}


div.mat-paginator-conatainer{
  max-height:1vh;
}

.mat-cell,.mat-header-cell{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#big{
  flex: 0 0 200px !important;
}

table{
  width: 80vw;

  position: center;
}

button{
  width: 10px;
}

#cButton{
  color: lightgray;
  width: fit-content;
}



#addButton
{
  margin-top: 10px;
  background-color: #294B93;
  border-color: #294B93;
  border-radius: 50px;
  position: relative;
  float: right;
  width: 80px;
}


.mat-menu-item{
  font-size: 12pt;
}

.email{
  cursor: pointer;
}

.email:hover{
  color: grey;
}


table > thead > tr > th.mat-header-cell.cdk-column-position.mat-column-position {
  white-space: nowrap;
}

#content{
  height: 85vh;
  background-color: #424242;
}


