.mat-table {
  max-height: 71vh;
  height: 71vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

table{
  width: 80vw;

  position: center;



}

button{
  width: 10px;
}

#cButton{
  color: lightgray;
  width: fit-content;
}



#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}
