<mat-card>
  <form>
    <div class="block">
      <h1>Angebots Informationen</h1>
    </div>
    <input type="text" [readonly]="locked" name="country" placeholder="Kundennummer">
    <input type="text" [readonly]="locked" name="country" placeholder="Anfrage">
    <input type="text" [readonly]="locked" name="country" placeholder="Liefertermin">
    <!--DATE PICKER START-->
      <input readonly placeholder="Möglicher Liefertermin" type="text" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <!--DATE PICKER END-->

    <!--CONSULTANT-->
    <div class="block">
      <h1>Sachbearbeiter</h1>
    </div>
    <div id="consultant-select">
      <select placeholder="h" (change)="onConsultantChange($event.target.value)" placeholder="Sachbearbeiter" type="text">
        <option hidden>Sachbearbeiter auswählen</option>
        <option *ngFor="let val of consultantList" value={{val.id}}>{{val.string}}</option>
      </select>
      <mat-icon id=cursor matTooltip="Zeigt oder verdeckt die Sachbearbeiter Daten" (click)="showConsultant=!showConsultant">{{showConsultant ?  'visibility' :'visibility_off' }}</mat-icon>
    </div>
       <!--Consultant Data-->
      <div *ngIf=showConsultant>
        <input readonly id="small" type="text" placeholder="Vorname"  name="consultant1" [(ngModel)]="consultant.fname">
        <input readonly id="small" type="text" placeholder="Nachname"  name="consultant2" [(ngModel)]="consultant.lname">
        <input readonly id="small" type="text" placeholder="Telefon Nummer"  name="consultant3" [(ngModel)]="consultant.phone">
        <input readonly id="small" type="text" placeholder="E-Mail"  name="consultant4" [(ngModel)]="consultant.email">
        <input readonly type="text" id="small" placeholder="Fax"  name="consultant5" [(ngModel)]="consultant.fax">
       </div>




    <!--PRODUCTS-->
    <div class="block">
      <h1>Produkte</h1>
    </div>
    <h1>Todo talk with PowerSolar Dev about this</h1>

  </form>
</mat-card>
