<mat-card>
  <form>
    <div class="block">
      <h1>Angebots Informationen</h1>
    </div>
   <input type="text" [(ngModel)]="offerData.offer.projectName" [readonly]="locked" name="offer" placeholder="Anfrage">
    <!--DATE PICKER START-->
      <input readonly  [(ngModel)]="offerData.offer.possibleDelivery" placeholder="Möglicher Liefertermin" name="possibleDate" type="text" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <!--DATE PICKER END-->

    <!--CUSTOMER-->
    <div class="block">
      <h1>Kunde</h1>
    </div>
    <mat-button-toggle (click)="changeCustomerType()">{{offerData.offer.isCompany ? 'Firmen Kunde' : 'Privat Kunde'}}</mat-button-toggle>
    <br>
    <div id="center-select">
      <select placeholder="h" (change)="onConsultantChange($event.target.value)" placeholder="customerId" type="text">
        <option hidden>Kunde auswählen</option>
        <option *ngFor="let val of customerList" value={{val.id}}>{{val.string}}</option>
      </select>
  </div>
    <!--CONSULTANT-->
    <div class="block">
      <h1>Sachbearbeiter</h1>
    </div>
    <div id="center-select">
      <select placeholder="h" (change)="onConsultantChange($event.target.value)" placeholder="Sachbearbeiter" type="text">
        <option hidden>Sachbearbeiter auswählen</option>
        <option *ngFor="let val of consultantList" value={{val.id}}>{{val.string}}</option>
      </select>
      <mat-icon id=cursor matTooltip="Zeigt oder verdeckt die Sachbearbeiter Daten" (click)="showConsultant=!showConsultant">{{showConsultant ?  'visibility' :'visibility_off' }}</mat-icon>
    </div>
       <!--Consultant Data-->
       <div *ngIf=showConsultant>
          <input readonly id="small" type="text" name="consultant-1" placeholder="Vorname" [(ngModel)]=consultant.fname>
          <input readonly id="small" type="text" name="consultant-2" placeholder="Nachname"[(ngModel)]=consultant.lname>
          <input readonly id="small" type="text" name="consultant-3" placeholder="Telefon Nummer"[(ngModel)]=consultant.phone>
          <input readonly id="small" type="text" name="consultant-4" placeholder="E-Mail"[(ngModel)]=consultant.email>
          <input readonly type="text" id="small" name="consultant-5" placeholder="Fax"[(ngModel)]=consultant.fax>
       </div>




    <!--PRODUCTS-->
    <div class="block">
      <h1>Produkte</h1>
    </div>
     <!--Auto Picker-->


     <div id="center-select">
        <input type="text"
               placeholder="Product wählen"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
             >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setProdcutData($event.option.value)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{getProductNameById(option)}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon id=cursor matTooltip="Zeigt oder verdeckt die Produkte für dieses Angebot" (click)="showProducts=!showProducts">{{showProducts ?  'visibility' :'visibility_off' }}</mat-icon>
      </div>


      <div *ngIf="showProducts">
        <div  *ngFor="let product of offerData.prodcuts ; let i = index">
            <!--ProductID-->
            <input id="productId" type="text"  placeholder="ID" [ngModel]="offerData.prodcuts[i].amount" name={{i*5+4}}>
            <!--Name-->
            <input readonly type="text" id="small" placeholder="Name" [ngModel]="offerData.prodcuts[i].product.name"  name={{i*5+3}}>
            <!--Description-->
            <input readonly type="text" id="small" placeholder="Beschreibung"  [ngModel]="offerData.prodcuts[i].product.description"   name={{i*5+2}}>
            <!--Price-->
            <input readonly type="text" id="small" placeholder="Preis"  [ngModel]="offerData.prodcuts[i].product.price"    name={{i*5+1}}>
            <!--Price-->
            <input readonly type="text" id="small" placeholder="Gesammt Preis"  value={{offerData.prodcuts[i].amount*offerData.prodcuts[i].product.price}}  name={{i*5}}>
          <button (click)="removeProduct(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    <br>
    <input (click)="doOffer()" type="submit" value={{msg}}>

  </form>
</mat-card>
