<mat-sidenav-container class="example-container" ngIF="isMenuOpen">
  <mat-sidenav #sidenav mode="side">
    Sidenav content
  </mat-sidenav>


  <mat-sidenav-content>
    <p>
      <mat-icon>account_circle</mat-icon>
      <button mat-button (click)="openCrm()">CRM</button>
    </p>
        <div *ngIf="crmOpen">
          <p>
            <mat-icon>account_circle</mat-icon>
            <button mat-button>Kunden</button>
          </p>
          <p>
            <mat-icon>account_circle</mat-icon>
            <button mat-button>Firmen</button>
          </p>
        </div>
    <mat-divider></mat-divider>
    <p>
      <mat-icon>account_circle</mat-icon>
      <button mat-button (click)="openBill()">Rechnungen</button>
    </p>
        <div *ngIf="billOpen">
          <p>
            <mat-icon>account_circle</mat-icon>
            <button disabled="true" mat-button>Angebot</button>
          </p>
        </div>
    <mat-divider></mat-divider>
    <p>
      <mat-icon>account_circle</mat-icon>
      <button mat-button (click)="openProduct()">Produkte</button>
    </p> 
        <div *ngIf="productOpen">
          <p>
            <mat-icon>account_circle</mat-icon>
            <button disabled="true" mat-button >Wärmetauscher</button>
          </p>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>

