<mat-card id='full'>
    <div style="text-align:center">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <div class="container">
          <a>
            <img [src]="image">
          </a>
        </div>
        <p>
            <input type="file" (change)="selectFile($event)">
        </p>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="user.name" name="name">
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" [disabled]="user.premissions.admin ? 'disabled':null" class="form-control" id="alterEgo"
               [(ngModel)]="user.rank" name="rank">
      </div>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngIf=user.premissions.admin id="admin">Admin</mat-chip>
        <mat-chip (click)='routeTo("dashboard")' *ngIf=user.premissions.dashboard id="dashbaord">Dashboard</mat-chip>
        <mat-chip (click)='routeTo("crm/customer")' *ngIf=user.premissions.crm id="crm">CRM</mat-chip>
        <mat-chip (click)='routeTo("bill/offer")' *ngIf=user.premissions.bills id="bill">Rechnungen</mat-chip>
        <mat-chip (click)='routeTo("products/heatexchanger")' *ngIf=user.premissions.products id="product">Produkte</mat-chip>
      </mat-chip-list>




</mat-card>



<mat-card >
  <div>
    <form>
      <label for="fname">Momentanes Passwort</label>
      <input [(ngModel)]="password.current" type="password" id="fname" name="firstname" placeholder="Passwort">

      <label for="lname">Neues Passwort</label>
      <input [(ngModel)]="password.newFirst" type="password" id="lname" name="lastname" placeholder="Neues Passwort">

      <label for="lname">Bestätige Passwort</label>
      <input [(ngModel)]="password.newSecond" type="password" id="lname" name="lastname" placeholder="Neues Passwort">

      <input (click)="submitNewPassword()" type="submit" value="Submit">
    </form>
  </div>



</mat-card>
