<!--USER-->
<mat-card id='full'>
  <div style="text-align:center">
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div class="container">
        <div class="image-upload">
          <label for="file-input">
            <img id="userImage" [src]=image/>
          </label>

          <input id="file-input"type="file" (change)="selectFile($event)">
        <div id="left">

        </div>
        <div id="right">
            <div class="flex-container">
              <mat-form-field id="small">
                <mat-label>Vorname</mat-label>
                <input id="small" [disabled]="!user.premissions.admin ? 'disabled':null"
                      matInput placeholder="Christopher" [(ngModel)]="user.fname">
              </mat-form-field>
              <mat-form-field id="small">
                <mat-label>Nachname</mat-label>
                <input id="small" [disabled]="!user.premissions.admin ? 'disabled':null"
                      matInput placeholder="Christopher" [(ngModel)]="user.lname">
              </mat-form-field>
            </div>
            <div class="flex-container">
              <mat-form-field id="small">
                <mat-label>Telefon Nummer</mat-label>
                <input id="small" [disabled]="!user.premissions.admin ? 'disabled':null"
                      matInput placeholder="Christopher" [(ngModel)]="user.phone">
              </mat-form-field>
              <mat-form-field id="small">
                <mat-label>Email</mat-label>
                <input id="small" [disabled]="!user.premissions.admin ? 'disabled':null"
                      matInput placeholder="Christopher" [(ngModel)]="user.email">
              </mat-form-field>
            </div>
            <div class="flex-container">
              <mat-form-field id="small">
                <mat-label>Firmen Rang</mat-label>
                <input id="small" [disabled]="!user.premissions.admin ? 'disabled':null"
                      matInput placeholder="Christopher" [(ngModel)]="user.rank">
              </mat-form-field>
                <mat-button-toggle color="primary" class="mat-elevation-z5" id="submit-user" type="submit" value="Speichern">Speichern</mat-button-toggle>
            </div>
          </div>
        </div>
      </div>
  </div>




    <div class="chip-container">
      <mat-chip-list aria-label="Fish selection">
        <!--ADMIN-->
        <mat-chip matTooltip="{{user.premissions.crm.write ? 'Einstellungen bearbeiten' : 'Einstellungen sehen'}}" matTooltipPosition="above"
        *ngIf=user.premissions.admin.read id="admin">Admin
          <mat-icon>{{user.premissions.admin.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>
        <!--DASHBOARD-->
        <mat-chip matTooltip="{{user.premissions.dashboard.write ? 'Dashboard bearbeiten' : 'Dashboard sehen'}}" matTooltipPosition="above"
        (click)='routeTo("dashboard")' *ngIf=user.premissions.dashboard.read id="dashbaord">Dashboard
          <mat-icon>{{user.premissions.dashboard.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>
        <!--CUSTOMER-->
        <mat-chip  matTooltip="{{user.premissions.crm.write ? 'Kunden bearbeiten' : 'Kunden sehen'}}" matTooltipPosition="above"
        (click)='routeTo("crm/customer")' *ngIf=user.premissions.crm.read id="crm">CRM
          <mat-icon>{{user.premissions.crm.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>
        <!--BILL-->
        <mat-chip matTooltip="{{user.premissions.bills.write ? 'Rechnungen bearbeiten' : 'Rechnungen sehen'}}" matTooltipPosition="above"
         (click)='routeTo("bill/offer")' *ngIf=user.premissions.bills.read id="bill">Rechnungen
          <mat-icon>{{user.premissions.bills.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>
        <!--PRODUCTS-->
        <mat-chip matTooltip="{{user.premissions.products.write ? 'Produkte bearbeiten' : 'Produkte sehen'}}" matTooltipPosition="above"
        (click)='routeTo("products/heatexchanger")' *ngIf=user.premissions.products.read id="product">Produkte
          <mat-icon>{{user.premissions.products.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>

        <mat-chip  matTooltip="{{user.premissions.settings.write ? 'Einstellungen bearbeiten' : 'Einstellungen sehen'}}" matTooltipPosition="above"
        (click)='toSettings()' *ngIf=user.premissions.settings.read id="settings">Einstellungen
          <mat-icon>{{user.premissions.settings.write ? 'edit' :'visibility'}}</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
</mat-card>
<!--PASSWORD-->
<mat-card id="pass-window">
<div>
  <!--FIRST PASS ROW--->
    <mat-form-field id="pass">
      <mat-label>Momentanes Passwort</mat-label>
      <input  [type]="showPass.old ? 'text' : 'password'" matInput name="old" [(ngModel)]="password.current" >
    </mat-form-field>
    <mat-icon (click)="showPass.old=!showPass.old">{{showPass.old ? 'visibility' : 'visibility_off'}}</mat-icon>
    <br>
  <!--SECOND PASS ROW--->
    <mat-form-field id="pass">
      <mat-label>Neues Passwort</mat-label>
      <input [type]="showPass.first ? 'text' : 'password'"  matInput name="new" [(ngModel)]="password.newFirst" >
    </mat-form-field>
    <mat-icon (click)="showPass.first=!showPass.first">{{showPass.first ? 'visibility' : 'visibility_off'}}</mat-icon>
    <br>
  <!--THIRD PASS ROW--->
    <mat-form-field id="pass">
      <mat-label>Neues Passwort</mat-label>
      <input  [type]="showPass.second ? 'text' : 'password'"  matInput name="new" [(ngModel)]="password.newSecond" >
    </mat-form-field>
    <mat-icon (click)="showPass.second=!showPass.second">{{showPass.second ? 'visibility' : 'visibility_off'}}</mat-icon>
</div>
  <!--SUBMIT PASS--->
<input id=admin-button (click)="submitNewPassword()" type="submit" value="Submit">

<!--ADMIN PANEL-->
</mat-card>
<mat-card *ngIf=user.premissions.admin id=admin-window>
  <div class="left-half">
    <button id=admin-button>User Verwaltung</button>
    <h4>User Anzahl {{getUserCount()}}</h4><br>
    <button id=admin-button>Kunden Verwaltung</button>
    <h4>User Anzahl {{getUserCount()}}</h4><br>
    <button id=admin-button>Email an alle Kunden</button>
    <h4>Z.b Preisänderungen</h4>
  </div>
<div class="right-half" >
  <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=Ich+wei%C3%9F+zwar+nicht+wieso%2C+aber+ein+Qr+Code+hier+%2Csieht+einfach+gut+aus%2C+eventuell+k%C3%B6nnte+der+bei+der+Kommunikation+zwischen+einem+Pc+und+einem+Smartphone+stehen%2C+also+k%C3%B6nnte+es+vielleicht+bei+der+Diplomarbeit+helfen.+Um+über+das+Smartphone+sich+anzumelden+oder+als+2+factor+verifikation+keine+ahnung+es+ist+nach+mitternacht+hier. &qzone=1&margin=0&size=400x400&ecc=L" alt="qr code" />
</div>
</mat-card>
