.mat-card{
    width: 46%;
    float:left;
    background:gray;
    margin:1vh;
}

input[type="password"] {
  height: 5vh;
  margin: 0;
  display: inline-block;
  border: 0.1vw solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#full{
  height:80vh;
  max-height: 80vh;
}

img{
  width: 200px;
  height: 200px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.mat-chip{
  cursor: pointer;
}

.mat-chip mat-icon{
  margin-left: 0.5vw;
}

.chip-container{
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  padding: 0.5vw;

}

#admin{
  background-color:crimson;
}
#admin-window{
  max-height: 50.5vh;
  height: 36.5vh;
}

#pass-window{
  max-height: 37vh;
  height: 37vh;
}

#dashbaord{
  background-color:darkorange;
}

#crm{
  background-color:darkolivegreen
}
#bill{
  background-color: dodgerblue;
}
#product{
  background-color: mediumpurple;
}
#settings{
  background-color: #0AD3FF;
}


#admin-button{
  background-color: greenyellow;
  border-color: greenyellow;
  min-height: 5vh;
  min-width: 50%;
  width: 50%;
  margin-bottom: 5vh;
}
h4{
  display: inline;
  margin-left: 1vw;
  margin-bottom: 5vh;
}

.left-half {
  position: absolute;
  left: 1%;
  width: 49%;
}

.right-half {
  position: absolute;
  right: 1%;
  width: 49%;
}
