.mat-card{
    width: 45vw;
    float:left;
    background:gray;
    margin:1vh;
}


#full{
  height:80vh;
  max-height: 80vh;
}

img{
  width: 12vw;
  height: 12vw
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  position: relative;
  text-align: left;
  color: white;
  padding: 2vh;
}

#side-form{
  width: 15vw;
}
div.container a *{
  display: inline;
}
.mat-chip{
  cursor: pointer;
}

.mat-chip mat-icon{
  margin-left: 0.5vw;
}

.chip-container{
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  padding: 0.5vw;

}

#admin{
  background-color:crimson;
}
#admin-window{
  max-height: 50.5vh;
  height: 36.5vh;
}

#pass-window{
  max-height: 37vh;
  height: 37vh;
}

#dashbaord{
  background-color:darkorange;
}

#crm{
  background-color:darkolivegreen
}
#bill{
  background-color: dodgerblue;
}
#product{
  background-color: mediumpurple;
}
#settings{
  background-color: #0AD3FF;
}


#admin-button{
  background-color: greenyellow;
  border-color: greenyellow;
  min-height: 5vh;
  min-width: 50%;
  width: 50%;
  margin-bottom: 5vh;
}
h4{
  display: inline;
  margin-left: 1vw;
  margin-bottom: 5vh;
}

.left-half {
  position: absolute;
  left: 1%;
  width: 49%;
}

.right-half {
  position: absolute;
  right: 1%;
  width: 49%;
}


/*The Big container for image and user stuff*/
.container
{
  width:42vw
}
#left{
  float:left;
  width:12vw;
}
#right{float:right;width:30vw}
/*the inside container for 2 columns of user stuff*/

input#small, .mat-form-field#small{
  width: 15vw;
}


#pass{
  width: 50%;
}


.flex-container {
  display: flex;
}

.flex-container > mat-form-field {
  margin-left: 1vw;
}

/*fake image button*/
.image-upload>input {
  display: none;
}

#userImage{
  cursor: pointer;
}

#submit-user{
  background-color: #294b93;
  border-color: #294b93;
  border-radius: 0px;
  color: white;
  height: 100%;
  margin-left: 2vw;
  width: 100%;
}
