.mat-card{
    width: 40%;
    float:left;
    background:gray;
    margin:1vh;

}

#full{
  height:80vh;
  max-height: 80vh;
}

img{
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


#admin{
  background-color:crimson;
}

#dashbaord{
  background-color:darkorange;
}

#crm{
  background-color:darkolivegreen
}
#bill{
  background-color: dodgerblue;
}
#product{
  background-color: mediumpurple;
}
