<mat-card>
  <form>
    <div class="block">
      <h1>Produkt Daten</h1>
    </div>
    <input type="text" id="id" disabled="disabled" [(ngModel)]="product.productId" name="fname" placeholder="Produktname"><br>
    <textarea type="text" id="big-Input" [readonly]="locked" [(ngModel)]="product.description" name="lname" placeholder="Beschreibung">
    </textarea><br>
    <div class="block">
      <h1>Standard Preis</h1>
    </div>

    <input type="number"  [readonly]="locked" [(ngModel)]="product.price"  name="domicile"  placeholder="Standard Preis">
<br>


    <input (click)="doCustomer()" type="submit" value={{msg}}>
  </form>
</mat-card>
