mat-card{
  height: 80vh;
  border-radius: 0px;
}

input, select{
  position: relative;
  left: 10px;
  width: 20%;
  margin: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

input:disabled,select:disabled{
  background-color: white;
}
div.block{
  padding-top: 10px;
  border-radius: 0px 50px 50px 0px;
  height: 50px;
  width: 100%;
  background-color: #303030 ;
}

div.block h1{
 position: relative;
 left: 10px;
}

#addButton
{
  margin-top: 10px;
  background-color: #c2185b;
  border-color: #c2185b;
  border-radius: 50px;
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
}

#big-Input{
  width: 50vw;
  height: 20vh;
}

#button-container{
  width: 100%;
  padding-left: 1vw;
  margin-bottom: 0px;
}

#id{
  width: 5vw;
}

#row{
  float: left;
  position: absolute;
  left: 15vw;
}


