.mat-table {
  max-height: 71vh;
  height: 71vh;
  overflow-y: auto;
  overflow-x: auto;

}

.mat-card{
  height: 100%;
  min-height: 100%;
  border-radius: 0px;
}


div.mat-paginator-conatainer{
  max-height:1vh;
}








#addButton
{
  margin-top: 10px;
  background-color: #294B93;
  border-color: #294B93;
  border-radius: 50px;
  position: relative;
  float: right;
  width: 80px;
}








