<mat-sidenav-container class="example-container" ngIF="isMenuOpen">
  <mat-sidenav-content>
    <!--Dashboard-->
    <p *ngIf=user.premissions.dashboard class="button-container" routerLink="dashboard"  (click)="openDashboard()" >
      <mat-icon>dashboard</mat-icon>
      <button mat-button>Dashboard</button>
    </p>
    <!--CRM-->
    <p *ngIf=user.premissions.crm class="button-container"  (click)="openCrm()">
      <mat-icon>account_circle</mat-icon>
      <button mat-button>CRM</button>
    </p>
    <p  *ngIf="crmOpen" id="child" class="button-container" routerLink="crm/customer">
      <mat-icon>perm_identity</mat-icon>
      <button mat-button >Kunden</button>
    </p>
    <p  *ngIf="crmOpen" id="child" class="button-container" routerLink="crm/company">
      <mat-icon>business</mat-icon>
      <button mat-button >Firmen</button>
    </p>
    <!--Sales-->
    <p *ngIf=user.premissions.bills class="button-container"  (click)="openBill()">
      <mat-icon>payments</mat-icon>
      <button mat-button>Verkauf</button>
    </p>
    <p  *ngIf="billOpen" id="child" class="button-container">
      <mat-icon>account_circle</mat-icon>
      <button  mat-button routerLink="bill/offer">Angebot</button>
    </p>
    <p  *ngIf="billOpen" id="child" class="button-container">
      <mat-icon>account_circle</mat-icon>
      <button  mat-button routerLink="bill/offer">Rechnung</button>
    </p>
    <!--Produkte-->
    <p *ngIf=user.premissions.products class="button-container" (click)="openProduct()">
      <mat-icon>shopping_basket</mat-icon>
      <button mat-button >Produkte</button>
    </p>
    <p *ngIf="productOpen" id="child" class="button-container" routerLink="products/heatexchanger">
      <mat-icon>microwave</mat-icon>
      <button mat-button >Wärmetauscher</button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

