.example-container {
    height: 85vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    float: left;
    width: 15vw;
    overflow: hidden;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }

  button{
    text-align: left;
    margin-left: 1.5vw;
  }

  .mat-icon{
    position: absolute;
    float: left;
    margin-top: 1vh;
  }


  div{
    all: unset;
    margin: auto;
    width: 100%;
    padding: 10px;
  }

  div[_ngcontent-lgl-c156] {
    padding: 0px;
}



div{
  padding-left: 5%;
  margin:0px
}


p:hover{
  background-color: black;
}

p.button-container{
  width: 100%;
  padding-left: 1vw;
  margin-bottom: 0px;
}


.mat-typography p {
  margin: 0px;
}
.mat-drawer-content{
  overflow: hidden;
}


#child{
 margin: 0px;
  padding-left: 32px;
}


mat-drawer-container{
  min-height: 87vh;
  max-height: 87vh;
  margin: 0;
  padding: 0;
}

#footer{
  bottom: 0;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 7vh;
}
