<mat-sidenav-container class="example-container" ngIF="isMenuOpen">
  <mat-sidenav #sidenav mode="side">
    Sidenav content
  </mat-sidenav>


  <mat-sidenav-content>
    <p class="button-container" routerLink="dashboard"  (click)="openDashboard()" >
      <mat-icon>dashboard</mat-icon>
      <button mat-button>Dashboard</button>
    </p>
    <p class="button-container"  (click)="openCrm()">
      <mat-icon>account_circle</mat-icon>
      <button mat-button>CRM</button>
    </p>
        <div *ngIf="crmOpen">
          <p class="button-container" routerLink="crm/customer">
            <mat-icon>perm_identity</mat-icon>
            <button mat-button >Kunden</button>
          </p>
          <p class="button-container" routerLink="crm/company">
            <mat-icon>business</mat-icon>
            <button mat-button >Firmen</button>
          </p>
        </div>
    <p class="button-container"  (click)="openBill()">
      <mat-icon>payments</mat-icon>
      <button mat-button>Rechnungen</button>
    </p>
        <div *ngIf="billOpen">
          <p class="button-container">
            <mat-icon>account_circle</mat-icon>
            <button  mat-button routerLink="bill/offer">Angebot</button>
          </p>
          <p class="button-container">
            <mat-icon>account_circle</mat-icon>
            <button  mat-button routerLink="bill/offer">Rechnung</button>
          </p>
        </div>
    <p class="button-container" (click)="openProduct()">
      <mat-icon>shopping_basket</mat-icon>
      <button mat-button >Produkte</button>
    </p>
        <div *ngIf="productOpen">
          <p class="button-container" routerLink="products/heatexchanger">
            <mat-icon>panorama_wide_angle</mat-icon>
            <button mat-button >Wärmetauscher</button>
          </p>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>

