.example-container {
    height: 92vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    float: left;
    width: 15vw;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;

  }

  button{
    text-align: left;
    margin-left: 1.5vw;
  }

  .mat-icon{
    position: absolute;
    float: left;
    margin-top: 1vh;
  }


  div{
    margin: auto;
    width: 100%;
    padding: 10px;
  }

  div[_ngcontent-lgl-c156] {
    padding: 0px;
}

mat-sidenav-container{
  overflow-y: hidden;
}

div{
  margin-left: 5%;
}

mat-sidenav-content{
  margin: 10px;
}

p:hover{
  background-color: black;
}
