.example-container {
    height: 92vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    float: left;
    width: 190px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;

  }

  button{
    text-align: left;
  }


  div{ 
    margin: auto;
    width: 100%;
    padding: 10px;
  }

mat-sidenav-container{
  overflow-y: hidden;
}

div{
  margin-left: 5%;
}

mat-sidenav-content{
  margin: 10px;
}